@font-face {
  font-family: ringbearer;
  src: url(../ringbearer/ringbearer.TTF);
}

@font-face {
  font-family: aniron;
  src: url(../aniron/aniron.regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.contenedor {
  padding: 60px 0px;
  width: 90%;
  max-width: 1300px;
  margin: auto;
  overflow: hidden;
}

.titulo {
  font-family: ringbearer;
  color: #bd821b;
  font-size: 35px;
  text-align: center;
  margin-bottom: 60px;
}

.titulo2 {
  font-family: aniron;
  color: #bd821b;
  font-size: 22px;
  text-align: center;
  margin-bottom: 45px;
}

/*  HEADER  */
header {
  width: 100%;
  height: 700px;
  background: rgba(220, 227, 89, 0.329);
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(rgba(29, 154, 34, 0.397)), to(rgba(119, 121, 47, 0.349))), url(../imagenes/Middle-earth.jpg);
  background: linear-gradient(to right, rgba(29, 154, 34, 0.397), rgba(119, 121, 47, 0.349)), url(../imagenes/Middle-earth.jpg);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size: cover;
  background-attachment: fixed;
  background-position-y: 50%;
  position: relative;
}

header .textos-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 700px;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

header .textos-header h1 {
  font-family: ringbearer;
  font-size: 60px;
  color: white;
  text-shadow: 6px 2px 10px black;
}

header .textos-header h2 {
  font-size: 30px;
  color: white;
  font-weight: 300;
  text-shadow: 6px 2px 6px black;
}

nav {
  text-align: right;
  padding: 30px 50px 0 0;
}

nav a {
  color: white;
  font-weight: 100;
  text-decoration: none;
  margin-right: 10px;
}

nav a:hover {
  text-decoration: underline;
}

.wave {
  position: absolute;
  bottom: 0;
  width: 100%;
}

/*  NUESTRO SERVICIO  */
.nuestros-servicios {
  padding-bottom: 30px;
  background-color: white;
}

.servicio-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.servicio-ind {
  width: 29%;
  text-align: center;
}

.servicio-ind img {
  width: 100%;
  border-radius: 6px;
}

.servicio-ind h3 {
  margin: 20px 0 10px 0;
  font-family: aniron;
  color: #bd821b;
  font-size: 18px;
  text-align: center;
}

.servicio-ind p {
  text-align: justify;
}

/*  ALOJAMIENTOS  */
.portfolio {
  background: #414141;
}

.portfolio-contenido {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.galeria-port {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 48%;
}

.imagen-port {
  width: 100%;
  margin-bottom: 10px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  -webkit-box-shadow: 6px 6px 8px 0 rgba(0, 0, 0, 0.507);
          box-shadow: 6px 6px 8px 0 rgba(0, 0, 0, 0.507);
}

.imagen-port img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}

.imagenes-port {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.imagenes-port .imagen-chi {
  width: 33%;
  margin-bottom: 10px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  -webkit-box-shadow: 6px 6px 8px 0 rgba(0, 0, 0, 0.507);
          box-shadow: 6px 6px 8px 0 rgba(0, 0, 0, 0.507);
}

.imagenes-port .imagen-chi img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}

.hover-galeria {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  -webkit-transform: scale(0);
          transform: scale(0);
  background: rgba(203, 140, 32, 0.596);
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hover-galeria p {
  color: white;
  padding-top: 10px;
}

.hover-galeria i {
  color: #f2f2f2;
  font-size: 80px;
}

.imagen-port:hover .hover-galeria {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.contenido-textos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 48%;
  color: #f0e5d1;
}

.contenido-textos p {
  padding: 0 0 30px 15px;
  text-align: justify;
}

.contenido-textos h3 {
  margin-bottom: 15px;
  margin-left: 10px;
}

.contenido-textos h3 span {
  background: #bd821b;
  color: white;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  width: 15px;
  height: 15px;
  padding: 2px;
  -webkit-box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.507);
          box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.507);
  margin-right: 10px;
}

.contenido-textos .reservar {
  margin: auto;
  text-align: center;
  border-radius: 18px;
  text-decoration: none;
  background-color: #0d8a11;
  color: #f2f2f2;
  padding: 7px 20px;
  text-transform: uppercase;
  font-size: 16px;
  border: 2px solid transparent;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

.contenido-textos .reservar:hover {
  background-color: #f2f2f2;
  border: 2px solid #0d8a11;
  color: #0d8a11;
}

.contenido-textos .agotado {
  margin: auto;
  text-align: center;
  border-radius: 18px;
  text-decoration: none;
  background-color: #e21515;
  color: #414141;
  padding: 7px 20px;
  text-transform: uppercase;
  font-size: 16px;
  border: 2px solid transparent;
  cursor: not-allowed;
}

.contenido-textos .agotado:hover {
  background-color: #e21515;
  border: 2px solid transparent;
  color: #414141;
}

/*  CLIENTES */
.portfolioClientes {
  background: #414141;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(23%, #414141), to(#8b6421));
  background: linear-gradient(180deg, #414141 23%, #8b6421 100%);
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.card {
  background: #bd821b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 46%;
  height: 200px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.603);
          box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.603);
}

.card img {
  width: 140px;
  height: 140px;
  -o-object-fit: cover;
     object-fit: cover;
  border: 3px solid white;
  border-radius: 50%;
  display: block;
}

.card .contenido-texto-card {
  width: 60%;
  color: white;
}

.card .contenido-texto-card p {
  padding-top: 5px;
}

/*  FORMULARIO  */
.contenedor-formulario {
  background: url(../imagenes/ring.webp);
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}

.formulario {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 500px;
  background: #414141;
  padding: 30px;
  margin: 20px auto;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 600px 100px rgba(0, 0, 0, 0.822);
          box-shadow: 0 0 600px 100px rgba(0, 0, 0, 0.822);
  color: #f2f2f2;
  z-index: 1;
}

.formulario h4 {
  font-size: 22px;
  margin-bottom: 20px;
}

.formulario select, .formulario .noches {
  width: 100%;
  background: #bd821b;
  padding: 10px;
  border-radius: 4px;
  margin: 16px 0;
  border: 1px solid #bd821b;
  color: #414141;
  font-size: 16px;
}

.formulario label {
  margin-top: 16px;
}

.formulario .submit {
  margin: 15px auto;
  text-align: center;
  border-radius: 18px;
  background-color: #bd821b;
  color: #414141;
  -webkit-box-shadow: 0 9px #999;
          box-shadow: 0 9px #999;
  padding: 7px 20px;
  text-transform: uppercase;
  font-size: 16px;
  border: 2px solid transparent;
  cursor: pointer;
}

.formulario .submit:hover {
  pointer-events: visibleFill;
  background-color: transparent;
  border: 2px solid #bd821b;
  color: #bd821b;
}

.formulario .submit:active {
  background-color: transparent;
  color: #bd821b;
  -webkit-box-shadow: 0 5px #666;
          box-shadow: 0 5px #666;
  -webkit-transform: translateY(4px);
          transform: translateY(4px);
}

.modal {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(140, 140, 140, 0.623)), to(rgba(26, 26, 26, 0.753)));
  background: linear-gradient(rgba(140, 140, 140, 0.623), rgba(26, 26, 26, 0.753));
}

#main {
  margin: auto;
  position: relative;
  width: 550px;
  height: 550px;
  left: 30px;
  border-radius: 10px;
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
          box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  background-color: white;
  margin-top: 12vh;
}

#left {
  position: relative;
  background: -webkit-gradient(linear, left top, right top, from(rgba(16, 81, 18, 0.5)), to(rgba(76, 77, 30, 0.5))), url("../imagenes/argonath.jpg");
  background: linear-gradient(to right, rgba(16, 81, 18, 0.5), rgba(76, 77, 30, 0.5)), url("../imagenes/argonath.jpg");
  background-size: cover;
  background-position: center;
  height: calc(100% + 50px);
  width: 45%;
  top: -35px;
  left: -50px;
  padding: 15px 25px 0px 25px;
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
          box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#left #resultado {
  font-family: 'Open Sans', sans-serif;
  text-shadow: 2px 3px 6px black;
}

#right {
  position: absolute;
  width: calc(60% - 40px);
  height: 100%;
  top: 0;
  left: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  padding-left: 20px;
  padding-top: 20px;
}

#right .form-titulo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#right .form-titulo p {
  font-size: 16px;
  color: #ad0d0d;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  cursor: pointer;
}

#right .form-titulo p:hover {
  transform: scale(1.6) rotate(540deg);
  -webkit-transform: scale(1.6) rotate(540deg);
  -webkit-transform-origin: 48% 35%;
          transform-origin: 48% 35%;
}

#right form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  width: 100%;
  margin-top: 10px;
}

#right form input,
#right form select {
  -moz-appearance: none;
  /* Firefox */
  -webkit-appearance: none;
  /* Safari and Chrome */
  appearance: none;
  border: none;
  border-bottom: 1.5px solid #ccc;
  padding: 5px;
  margin-top: 2.5px;
  position: relative;
}

#right form .form-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 20px;
}

#right form #date-val {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#right form #date-val select {
  width: 45%;
}

#right form button[type=submit] {
  background: -webkit-gradient(linear, left top, right top, from(rgba(29, 154, 34, 0.808)), to(rgba(119, 121, 47, 0.877)));
  background: linear-gradient(to right, rgba(29, 154, 34, 0.808), rgba(119, 121, 47, 0.877));
  padding: 5px;
  border: none;
  border-radius: 50px;
  color: white;
  font-weight: 400;
  font-size: 12pt;
  margin-top: 10px;
}

#right form button[type=submit]:hover {
  background: transparent;
  -webkit-box-shadow: 0 0 0 3px #0d8a11;
          box-shadow: 0 0 0 3px #0d8a11;
  color: #0d8a11;
}

/*  FOOTER  */
footer {
  background: #414141;
  padding: 50px 0 15px 0;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .contenedor-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 90%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 20px 20px 20px;
  border-bottom: 1px solid #bd821b;
}

footer .contenedor-footer .contenedor-foo {
  text-align: center;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30%;
}

footer .contenedor-footer .contenedor-foo h4 {
  color: white;
  border-bottom: 1px solid #bd821b;
  padding-bottom: 5px;
  margin-bottom: 10px;
  font-size: 14px;
}

footer .contenedor-footer .contenedor-foo p {
  color: white;
  font-size: 14px;
}

footer .contenedor-footer .contenedor-foo .redes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  cursor: pointer;
}

footer .contenedor-footer .contenedor-foo .redes i {
  font-size: 22px;
  color: white;
  margin-right: 10px;
}

footer .contenedor-footer .contenedor-foo img {
  width: 20%;
}

footer .titulo-final {
  text-align: center;
  font-size: 18px;
  margin: 20px 0 5px 0;
  font-family: ringbearer;
  color: #bd821b;
}

footer .copyright {
  color: #ccc;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 500;
  font-size: 13px;
}

/*  MEDIA QUERY  */
@media screen and (max-width: 900px) {
  header {
    background-position: center;
  }
  .contenedor-sobre-nosotros {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contenedor-sobre-nosotros .contenido-textos {
    width: 90%;
  }
  .contenedor-sobre-nosotros .imagen-sobre-nosotros {
    width: 90%;
    padding-bottom: 20px;
  }
  /*  HOBBITON  */
  .imagen-port {
    width: 100%;
  }
  /*  CLIENTES  */
  .cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .cards .card {
    width: 90%;
  }
  .cards .card img {
    width: 100px;
    height: 100px;
  }
  .cards .card:first-child {
    margin-bottom: 30px;
  }
  /*  NUESTRO SERVICIO  */
  .servicio-cont {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .servicio-ind {
    width: 100%;
    text-align: center;
  }
  .servicio-ind img {
    width: 90%;
  }
  .servicio-ind:nth-child(1), .servicio-ind:nth-child(2), .servicio-ind:nth-child(3) {
    margin-bottom: 60px;
  }
}

@media screen and (max-width: 500px) {
  nav {
    text-align: center;
    padding: 30px 0 0 0;
  }
  nav a {
    margin: 0 10px;
  }
  header .textos-header {
    padding: 0 5px;
  }
  header .textos-header h1 {
    font-size: 35px;
  }
  header .textos-header h2 {
    font-size: 20px;
  }
  /*  PORTFOLIO  */
  .imagen-port {
    width: 95%;
  }
  /*  CLIENTES  */
  .cards .card {
    height: 450px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  /*  FOOTER  */
  .contenedor-footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border: none;
  }
  .contenedor-foo {
    margin-bottom: 20px;
    text-align: center;
  }
  .contenedor-foo h4 {
    border: none;
  }
  .contenedor-foo p {
    color: #ccc;
    border-bottom: 1px solid #f2f2f2;
    padding-bottom: 20px;
  }
  .titulo-final {
    font-size: 20px;
  }
}
/*# sourceMappingURL=estilos.css.map */